* {
  margin: 0;
  padding: O;
  box-sizing: border-box;
}
.container {
  background-color: #010120;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  color: white;
}
.jsgboxS {
background-color: rgb(122, 70, 70) !important; 
margin: 20px ;
}
.jxgbox {
  background-color: white !important;
}
.box {
  background-color: rgb(13 110 253 / 8%);
}
#box {
  width: 300px;
  height: 200px;
  color: white;
  margin: auto;
}
#box {
  overflow: auto;
}
@media (max-width: 400px) {
    .formula{
        font-size: 0.8rem;
    }
    .One > p {
      font-size: 0.6rem;
    }
    
  }